@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

header .logo {
  width: 250px;
}

header .logo img {
  width: 100%;
}

header .logout button {
  padding: 7px 20px;
  background-color: transparent;
  border: 1px solid #777;
  color: #777;
  border-radius: 40px;
}

.prev_wrap .top {
  margin: 0 0 15px 0;
}

.prev_wrap .top .logo {
  width: 300px;
}

.prev_wrap .top .logo img {
  width: 100%;
}

@media (max-width: 700px) {
  .prev_wrap .top .logo img {
    width: 60%;
  }
}

.prev_wrap .top .txt .step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.prev_wrap .top .txt .step-container strong {
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}

.prev_wrap .top .txt .step-container .step {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.prev_wrap .top .txt .step-container .step.active {
  border-color: #2269f3;
  color: white;
  background-color: #2269f3;
}

.prev_wrap .top .txt p {
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 700px) {
  .prev_wrap .top .txt p {
    font-size: 15px;
  }
}

/*curation*/
.selection .sec {
  padding: 40px 0;
}

@media (max-width: 700px) {
  .selection .sec {
    padding: 30px 0;
  }
}

.selection .sec .title {
  font-size: 20px;
  font-weight: 600;
  color: #575757;
}

@media (max-width: 700px) {
  .selection .sec .title {
    font-size: 16px;
    line-height: 23px;
  }
}

.selection .sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selection .sec ul li a {
  border: 1px solid #909090;
  color: #575757;
  padding: 10px 25px;
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  border-radius: 30px;
  cursor: pointer;
}

.selection .sec ul li a.on {
  border: 1px solid #2269f3;
  color: #2269f3;
}

.selection .sec ul li a.on2 {
  border: 1px solid #2269f3;
  color: #2269f3;
}

.selection .sec ul li a.off {
  border: 1px solid #909090;
  color: #575757;
}

.selection .sec ul.long {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selection .sec ul.long li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selection .sec ul.long li a {
  width: 20px;
  height: 20px;
  padding: 0;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  position: relative;
}

.selection .sec ul.long li a.on::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2269f3;
}

.selection .sec ul.long li b {
  margin-right: 10px;
}

.selection .sec1 {
  background: linear-gradient(40deg, #01063d, #3f1d7a);
  color: #fff;
  text-align: center;
  padding: 40px 0;
  border-radius: 40px;
}

.selection .sec1 .title {
  color: #fff !important;
}

.selection .sec1 ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection .sec1 ul li a {
  margin: 0 10px;
  margin-top: 30px;
  color: #fff;
}

.selection .sec1 ul li a.on {
  border: none;
  background-color: #d53a3d;
  color: #ffffff;
}

.selection .sec2 .title,
.selection .sec3 .title,
.selection .sec4 .title {
  padding: 25px 0;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px dashed #bfbfbf;
  margin: 10px 0;
  color: #2269f3;
}

@media (max-width: 700px) {
  .selection .sec2 .title,
  .selection .sec3 .title,
  .selection .sec4 .title {
    padding: 15px 0;
    margin: 0;
  }
}

.selection .sec2 ul,
.selection .sec3 ul,
.selection .sec4 ul {
  padding: 15px;
}

@media (max-width: 700px) {
  .selection .sec2 ul,
  .selection .sec3 ul,
  .selection .sec4 ul {
    padding: 0 10px;
  }
}

/*사전진단*/
.test {
  margin-bottom: 50px;
}

.test_title h2 {
  margin-top: 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #333;
  padding-left: 20px;
  border-left: 8px solid #333;
}

@media (max-width: 700px) {
  .test_title h2 {
    margin-top: 30px;
    font-size: 17px;
    line-height: 20px;
  }
}

.test_table {
  margin-top: 20px;
}

.test_table .q {
  font-size: 13px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 7px;
}

.test_table .q b {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

.test_table .a {
  background-color: #f3f3f3;
  padding: 10px 5px;
  display: block;
}

.test_table input {
  width: 16px;
  height: 16px;
  margin: 0 4px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #9b9b9b;
  border-radius: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.test_table input:checked {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.test_table label {
  font-size: 13px;
  line-height: 25px;
}

.bottom {
  text-align: center;
  margin: 20px 0;
}

.bottom button {
  width: 112px;
  padding: 10px;
  border-radius: 8px;
  background-color: #2269f3;
  color: #fff;
}

.bottom button:disabled {
  background-color: #ccc;
}

.survey {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.question {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #bfbfbf;
  height: 100%;
  padding: 10px 0;
}

.question p {
  font-size: 14px;
}

.question .expl {
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
  display: block;
  font-weight: 400;
}

.question .stars_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  height: 100%;
  margin: 10px 0;
}

.question .stars_wrap p {
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}

.question .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question .stars input {
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: none;
}

.question .stars label {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .question .stars label {
    font-size: 18px;
    padding: 0 3px;
  }
}

.question .stars label.active {
  color: #ffb200;
}

.question .stars input:checked {
  border: 1px solid #555;
}

.question .stars input:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
}

/*사전진단 결과*/
/*역량진단*/
/*학습현황*/
.graph_wrap h2 {
  display: inline-block;
  border-top: none !important;
}

.graph_wrap .lecture_graph {
  position: relative;
  font-size: 18px;
  display: inline;
  margin-left: 10px;
}

.graph_wrap .lecture_graph > .right {
  letter-spacing: 2px;
  display: inline-block;
  margin-left: 10px;
}

.graph_wrap .lecture_graph .graph_bg {
  position: relative;
  top: 3px;
  width: 500px;
  height: 20px;
  border: 1px solid #d6d6d6;
  background-color: #eee;
  border-radius: 50px;
  z-index: 1;
  display: inline-block;
}

.graph_wrap .lecture_graph .graph {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 20%;
  height: 20px;
  border-radius: 50px;
  z-index: 2;
}

.study_detail {
  margin-top: 20px;
  margin-bottom: -15px;
  font-size: 18px;
}

.study_detail strong {
  font-size: 20px;
  margin-right: 10px;
}

.top_category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .top_category {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 29px;
  }
}

.top_category > div {
  border-radius: 50px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

@media (max-width: 700px) {
  .top_category > div {
    padding: 15px;
  }
}

.top_category > div strong {
  font-size: 18px;
}

@media (max-width: 700px) {
  .top_category > div strong {
    font-size: 14px;
  }
}

.top_category > div p {
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .top_category > div p {
    font-size: 13px;
  }
}

.top_category > div b {
  font-size: 30px;
  margin-left: 10px;
  line-height: 1;
}

@media (max-width: 700px) {
  .top_category > div b {
    font-size: 18px;
    margin-left: 7px;
  }
}

.top_category > div:nth-child(1) {
  background-color: #fbf1f4;
}

.top_category > div:nth-child(1) strong {
  color: #eb5baa;
}

.top_category > div:nth-child(2) {
  background-color: #f5f1fb;
}

.top_category > div:nth-child(2) strong {
  color: #a464df;
}

.top_category > div:nth-child(3) {
  background-color: #fbf7f1;
}

.top_category > div:nth-child(3) strong {
  color: #8c5f29;
}

.top_category > div:nth-child(4) {
  background-color: aliceblue;
  width: 290px;
}

@media (max-width: 700px) {
  .top_category > div:nth-child(4) {
    width: 100%;
  }
}

.top_category > div:nth-child(4) strong {
  color: #0068c3;
}

.table_wrap h2 {
  border-top: none !important;
}

.table_wrap table th,
.table_wrap table td {
  font-size: 14px;
}

.table_wrap table button.white {
  padding: 3px 0;
  width: 70px;
  background-color: white;
  border: 1px solid #333;
  font-size: 14px;
}

.table_wrap table button.black {
  padding: 3px 0;
  width: 70px;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 14px;
}

/*역량진단*/
.chart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f6fa;
  border-radius: 30px;
  padding: 20px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0;
}

.chart-wrapper .label {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.chart-wrapper > div {
  width: 50%;
}

.chart-wrapper .chart-container {
  position: relative;
  height: 50px;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.chart-wrapper .chart-container .bar {
  position: absolute;
  height: 50px;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .chart-wrapper .chart-container .bar {
    font-size: 14px;
  }
}

.chart-wrapper .chart-container .bar::after {
  display: none;
}

.chart-wrapper .chart-container::before {
  position: absolute;
  top: 15px;
  content: "100";
  font-size: 18px;
  color: #dcdcdc;
}

.chart-wrapper .left-container {
  border-radius: 50px 0 0 50px;
}

.chart-wrapper .left-container .left-bar {
  width: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fd6ffa), to(#fd8a8a));
  background: linear-gradient(to left, #fd6ffa, #fd8a8a);
  right: 0;
  border-radius: 50px 0 0 50px;
  -webkit-animation: expand-left 2s forwards;
          animation: expand-left 2s forwards;
}

@-webkit-keyframes expand-left {
  from {
    width: 0;
  }
  to {
    width: var(--target-width, 100%);
  }
}

@keyframes expand-left {
  from {
    width: 0;
  }
  to {
    width: var(--target-width, 100%);
  }
}

.chart-wrapper .left-container::before {
  left: 20px;
}

.chart-wrapper .right-container {
  border-radius: 0 50px 50px 0;
}

.chart-wrapper .right-container .right-bar {
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1e98c8), to(#34d7be));
  background: linear-gradient(to right, #1e98c8, #34d7be);
  left: 0;
  border-radius: 0 50px 50px 0;
  -webkit-animation: expand-right 2s forwards;
          animation: expand-right 2s forwards;
}

@-webkit-keyframes expand-right {
  from {
    width: 0;
  }
  to {
    width: var(--target-width, 100%);
  }
}

@keyframes expand-right {
  from {
    width: 0;
  }
  to {
    width: var(--target-width, 100%);
  }
}

.chart-wrapper .right-container::before {
  right: 20px;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 700px) {
  .grid-box {
    display: block;
  }
}

.grid-box .chart2-container {
  width: 100%;
  background: #f2f6fa;
  border-radius: 15px;
  padding: 30px 20px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .grid-box .chart2-container {
    padding: 20px 20px;
    margin-top: 40px;
  }
}

.grid-box .chart2-container .chart-title {
  background: #d9e5f0;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .grid-box .chart2-container .chart-title {
    font-size: 16px;
    padding: 13px 0;
  }
}

.grid-box .chart2-container .ticks {
  position: absolute;
  left: -25px;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 109%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #bfbfbf;
}

.grid-box .chart2-container .ticks > div {
  position: relative;
}

.grid-box .chart2-container .ticks > div::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  width: 76vw;
  border-top: 1px dashed #bfbfbf;
  content: "";
}

.grid-box .chart2-container .ticks > div:last-child::after {
  display: none;
}

.grid-box .chart2-container .chart {
  position: relative;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
  margin-left: 26px;
  border-bottom: 2px solid #ccc;
}

.grid-box .chart2-container .chart .bar-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #e9e9e9;
  border-radius: 50px;
  overflow: hidden;
  z-index: 2;
}

.grid-box .chart2-container .chart .bar-container .bar {
  width: 50px;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-box .chart2-container .chart .bar-container .bar::after {
  display: none;
}

.grid-box .chart2-container .chart .bar-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fd6ff7), to(#fb9693));
  background: linear-gradient(to top, #fd6ff7, #fb9693);
  -webkit-animation: expand-top 2s forwards;
          animation: expand-top 2s forwards;
}

.grid-box .chart2-container .chart .bar-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(#1e99c8), to(#33d6be));
  background: linear-gradient(to top, #1e99c8, #33d6be);
}

@-webkit-keyframes expand-top {
  from {
    height: 0;
  }
  to {
    height: var(--target-height, 100%);
  }
}

@keyframes expand-top {
  from {
    height: 0;
  }
  to {
    height: var(--target-height, 100%);
  }
}

.grid-box .chart2-container .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  margin-left: 26px;
}

.grid-box .chart2-container .labels .label {
  font-size: 14px;
}

h3.point_ttl {
  background: #d9e5f0;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 50px;
  font-size: 15px;
}

.result-table colgroup col:nth-child(n + 2) {
  width: 40px !important;
}

.result-table table {
  width: 100%;
  text-align: center;
}

@media (max-width: 400px) {
  .result-table table {
    margin-top: 0px !important;
  }
}

@media (max-width: 700px) {
  .result-table table .mh {
    display: none;
    visibility: hidden;
    width: 0%;
  }
  .result-table table .al {
    padding: 20px 5px;
  }
}

.result-table table thead {
  background-color: whitesmoke;
}

.result-table table thead th {
  padding: 15px 0;
}

.result-table table tbody tr {
  border-bottom: 1px solid #bcbcbc;
}

.result-table table tbody tr td.clip {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 850px) {
  .result-table table tbody tr td.clip {
    max-width: 300px;
  }
}

.result-table table tbody tr td {
  padding: 15px 0;
}

.result-table table tbody tr td button.small {
  background-color: #fff;
  border: 0.5px solid #707070;
  padding: 3px 10px;
}

@media (max-width: 1000px) {
  .result-table table tbody tr td button.small {
    padding: 0px 0px;
    font-size: 12px;
    line-height: 18px;
  }
}

.result-table table tbody tr td img {
  width: 26px;
}

@media (max-width: 1000px) {
  .result-table table tbody tr td img {
    width: 22px;
  }
}

.result-table table tbody tr td.al {
  padding: 15px 10px;
}

.result-table table {
  border-collapse: collapse;
}

.result-table table thead th {
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 700px) {
  .result-table table thead th {
    font-size: 13px;
  }
}

.result-table table tbody tr th,
.result-table table tbody tr td {
  font-size: 14px;
}

@media (max-width: 700px) {
  .result-table table tbody tr th,
  .result-table table tbody tr td {
    font-size: 13px;
  }
}

.result-table table tbody tr th {
  font-weight: 600;
}

.result-table table tbody tr td b {
  font-weight: 500;
}

.result-table table tbody tr td.tl {
  text-align: left;
}

.result-table table tbody tr:last-of-type th,
.result-table table tbody tr:last-of-type td {
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 700px) {
  .result-table table tbody tr:last-of-type th,
  .result-table table tbody tr:last-of-type td {
    font-size: 13px;
  }
}

.result-table table tbody tr.average {
  border-top: 2px solid #bcbcbc;
  border-bottom: 2px solid #bcbcbc;
}

.result-table table button {
  background-color: transparent;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 13px;
  border: 1px solid #bcbcbc;
}

@media (max-width: 700px) {
  .result-table table button {
    font-size: 12px;
  }
}

/*로드맵*/
/*# sourceMappingURL=prev.css.map */